.toggled {
  background-color: cyan;
  height: 100px;
  width: 300px;
  border-radius: 20px;
  border: none;
  margin-top: 50px;
  font-size: larger;
}

.untoggled {
  background-color: gray;
  height: 100px;
  width: 300px;
  border-radius: 20px;
  border: none;
  margin-top: 50px;
  font-size: larger;
}

.untoggled:focus {
  outline: none;
}

.untoggled:hover {
  background-color: #bbb;
}

.toggled:focus {
  outline: none;
}

.toggled:hover {
  background-color: blue;
}